<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<style>
        body {background-color: white;}        
	</style>
	
	<script type="text/javascript">
		var registerSuccessful;
		<% if (typeof registerSuccess != undefined){ %>
			registerSuccessful = <%=registerSuccess%>
		<% } %>
		$(document).ready(function(){
			if (!registerSuccessful){
				alert("Username or E-mail already in use");
			}
			var primaryPassword;
			var passwordCheck;
			$("#registerPassword").change(function(){
				primaryPassword = $("#registerPassword").val();
			});
			$("#doubleCheckPassword").change(function(){
				passwordCheck = $("#doubleCheckPassword").val();
				if (primaryPassword != passwordCheck) {
					$("#alertForPassword").show();
					$("#alertForPassword").attr({
						"class": "alert alert-danger"
					});
					$("#alertForPassword").html("Passwords do not match");
					$("#submitButton").attr("disabled", "disabled");
				} else {
					$("#alertForPassword").hide();
					$("#submitButton").removeAttr("disabled");
				};
			});
		});
	</script>


</head>
<body>
<div>
	<div class="card text-left" style="width: 25%; font-size: 130%; margin: 0%; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);" >
		<div class="card-body">
			<a id="loginButton" href="/login" title="link to login" class="float-right btn btn-outline-primary btn-lg">Login</a>
			<h1 class="card-title">Register</h1>
			<br>
			<form action="/register" method="post">
				<div class="form-group">
					<label for="registerUsername">Pick a username:</label>
					<input type="text" name="registerUsername" id="registerUsername" placeholder="Username" required>
				</div>
				<div class="form-group">
					<label for="registerEmail">Your E-mail address:</label>
					<input type="email" name="registerEmail" id="registerEmail" placeholder="E-mail" required>
				</div>
				<div class="form-group">
					<label for="registerPassword">Your password:</label>
					<input type="password" name="registerPassword" id="registerPassword" placeholder="******" required>
				</div>
				<div class="form-group">
					<label for="registerPassword">Password again:</label>
					<input type="password" name="" id="doubleCheckPassword" placeholder="******" required>
					<div id="alertForPassword">
					</div>
				</div>
				<br>
				<button class="btn btn-primary btn-block btn-lg" type="submt" id="submitButton">Register</button>
			</form>
		</div>
	</div>
</div>
</div>
</body>
</html>